:root{
    --book-cover-width:150px;
    --book-cover-width-large:150px;
    --book-cover-aspect-ratio:0.75;

}


.index-book-div{
  
    margin: auto;
    margin-bottom: 2em;
}

.index-book-div-flex{
    display: flex;
    flex-wrap: wrap;
}

.book-cover{
    width:var(--book-cover-width);
    height:calc(var(--book-cover-width)/
    var(--book-cover-aspect-ratio));
}

.book-cover-large{
    --book-cover-width:var(--book-cover-width-large);
}

.book-grid{
    display: grid;
    justify-content: center;
    grid-gap:2em;
    grid-template-columns: repeat(auto-fill,
     var(--book-cover-width));
}

.book-grid-large{
    grid-template-columns: repeat(auto-fill,
    var(--book-cover-width-large))
}

.book-details{
    display: flex;
}

.book-details-label{
    font-size: 1.2em;
    font-weight: 500;
    align-self: flex-start;
}

.book-details-grid{
    display: grid;
    align-content: flex-start;
    align-items: center;
    grid-gap: 1em;
    grid-template-columns: auto auto;
}

.book-details-btn{
    display: grid;
    justify-items: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    grid-template-areas: 
    "edit delete"
    "author author";
    grid-gap: 0.5em;
    margin-top: .5rem;
}

.book-details-author-btn{
    grid-area: author;
    justify-self: stretch;
    position: relative;
    top:3em;
}

@media(min-width :1000px){
    :root{
        --book-cover-width:200px;
        --book-cover-width-large:300px;
        --book-cover-aspect-ratio:0.75;
    
    }

    .index-book-div {
        margin-left: 1em;
      }
    
    .index-book-div-flex{
        margin: 1.5em;
    }
}

@media (max-width : 700px) {
    .book-details{
        display: flex;
        flex-wrap: wrap;
    }

    .book-details > div:first-child{
        width: 100%;
        text-align: center;
        margin: auto;
        margin-bottom: 4em;
    }

    .book-details > div:first-child > div:first-child{ 
        text-align: center;
    }

    .book-details > div:first-child .btn-primary {
        margin: auto;
    }

    .book-details > div:first-child .btn-danger {
        position: relative;
        left: 2em;
    }
}