<h2 class="page-header">New Authors</h2>
<form action="/authors" method="POST">
    <%-include("_form_field.ejs")%>
    <div class="form-row form-row-end btn-row" >
        <a href="/authors" class="btn btn-danger">Cancel</a>
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>
